body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  
  
  
  
  .navbar{
   padding-top: 3%;
  height: 50px;
    width: 100%;
   text-decoration: none;
    background-color:	#008B8B	;
   display: flex;
  justify-content: space-between;
  
  
    }
    
  
  
  .logo img{
    width:60px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5)
    }
  
  
  .logo{
    display: flex;
    height: 30%;
    align-items: center;
    flex-basis: 50%;
    padding-left: 3%;
   
    }
  
  
  .navbar h1{
    padding-top: 4%;
  padding-left: 1%;
    color:#fff;
    font-size: 25px;
    font-weight: 50000;
    
    text-decoration: wavy;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  
  }
  .navbar p{
   font-size: 14px;
   padding-left: 2px;
   font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  }
  
  .click{
  padding-right: 3%;
  padding-bottom: 5%;
  }
  
  .click button{
  
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
  margin: 1px;
  width: 40;
  background: #ebeef1;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  color: #31906E;
  box-shadow:inset 10px 10px 10px -1px rgba(10,  99, 169,0.16)
  ,inset -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
  }
  
  .click button i{
    margin-right: 10px;
  }
  
  
  button:hover{
    color: #000;
    background-color: #00BFFF;
  }
  
  .nav{ 
     height: 4rem;
    width: 100%;
    background-color: #FFFFF0;
    position: sticky;
    top: 0;
   }
  
  .nav ul{
   margin: 0;
    height: 100px;
    width: 100%;
    list-style-type: none;
    display: flex;
    gap: 3rem;
    padding-left: 0%;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  
  
  }
  
  .nav ul li{
    height: 9rem;
    line-height: 8rem;
    position: relative;
    text-align: center;
    
    }
  
   .nav ul li a{
      text-decoration: none;
      font-size: 18px;
      align-items: baseline;
      display: block;
   }
  .nav ul li a:hover{
    color: #00CED1;
   
  }
  
  .nav ul li i{
    margin-right: 8px;
  }
  
  
  .dropdown-menu {
   display:flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
   height: 17rem;
    min-width: 14rem;
    top: 12rem;
    background-color:#FFFFF0 ;
    line-height: 10rem;
    visibility: hidden;
    opacity: 0;
    transition: all .3s linear;
    
  }
  
  
  .dropdown-menu ul{
    display: block;
    
  }
  
  .dropdown-menu ul li{
    height: 3.5rem;
    line-height: 3rem;
    width: 100%;
    justify-content: center;
    cursor: pointer;
   
    
    }
  
  
    .dropdown-menu ul li a:hover{
      color: #000;
      background-color:#00CED1;
      transition: all .3s linear;
    }
  
  
  
  .nav ul li:hover > .dropdown-menu {
    visibility: visible;
    opacity: 1;
    top: 5.2rem;
  }
  
  
  
   .menu{
    display:flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
   height: 6.5rem;
    min-width: 14rem;
    top: 12rem;
    background-color:#FFFFF0 ;
    line-height: 10rem;
    visibility: hidden;
    opacity: 0;
    transition: all .3s linear;
  }
  
  .menu ul{
    display: block;
  }
  
  .menu ul li{
    height: 3.5rem;
    line-height: 3rem;
    width: 100%;
    justify-content: center;
    cursor: pointer;
   
    
    }
  
  
    .menu ul li a:hover{
      color: #000;
      background-color:#00CED1;
      transition: all .3s linear;
    }
  
  
  
  .nav ul li:hover > .menu {
    visibility: visible;
    opacity: 1;
    top: 5.2rem;
  }
  
  
  .dropdown-menu1 {
    display:flex;
     flex-direction: column;
     align-items: center;
     position: absolute;
     left: 50%;
     transform: translate(-50%);
    height: 10rem;
     min-width: 14rem;
     top: 12rem;
     background-color:#FFFFF0 ;
     line-height: 10rem;
     visibility: hidden;
     opacity: 0;
     transition: all .3s linear;
     
   }
   
   
   .dropdown-menu1 ul{
     display: block;
     
   }
   
   .dropdown-menu1 ul li{
     height: 3.5rem;
     line-height: 3rem;
     width: 100%;
     justify-content: center;
     cursor: pointer;
    
     
     }
   
   
     .dropdown-menu1 ul li a:hover{
       color: #000;
       background-color:#00CED1;
       transition: all .3s linear;
     }
   
   
   
   .nav ul li:hover > .dropdown-menu1 {
     visibility: visible;
     opacity: 1;
     top: 5.2rem;
   }
  











.img-gallery{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:30px;
}






img{
    width:100%;
   cursor: pointer;

}
img:hover{
    transform: scale(2.5,2.5);
    transition: 5s transform;

}


.page-name h1{
text-align: center;
font-size: 50px;
font-weight: 200;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-decoration: underline;

}

.page-name h3{
    margin-left: 10%;
    font-size: 25px;
    font-family: monospace;
    text-decoration: underline;
    color: #1B8A6B;

}












.footer{
    box-sizing: border-box;
    width: 100%;
    height: 320px;
    background-color: #307D7E;
    padding: 10px 0px;
     
   }
  
  
  .direction{
  width: 100%;
  height: 250px;
   
    margin: auto;
  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  
  
  .footer-col{
    width: 22%;
    padding: 0 15px;
    
    
  }
  
  
  .footer-col h2{
    font-size: 30px;
    text-transform:capitalize;
    margin-bottom: 30px;
    font-weight: 50;
    position: relative;
  }
  
  .footer-col ul{
    list-style-type: none;
    padding-left: 5%;
  }
  .footer-col ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    font-weight: 300;
    display: block;
    transition:  all 0.2s ease;
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
  
  }
  
  .footer-col ul li a:hover{
    color: #00BFFF;
  }
  
  
  .footer-col iframe{
    height: 200px;
    width: 280px;
  }
      

  .footer-mini{
    position: absolute;
    height: 50px;
    width: 100%;
  background-color: #1B8A6B;
  }
  
  .footer-mini p{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
 font-family: cursive;
  }



  .footer-mini p a{
    text-decoration: none;
    list-style-type: none;
  }
      
